.sign-in{
    width: 550px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0px;
    }
    .buttons{
        width: max-content;
        display: flex;
        justify-content: space-between;
    }
}
