.menu-item {
  height: 300px;                // default card height
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;     // cover the entire grid cell
    background-position: center;
    transition: transform 0.5s ease;
  }

  &:hover .background-image {
    transform: scale(1.1);      // zoom effect
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
  

  .content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 14px;
    }
  }
}
